* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #abcdef;
}
html, body {
  background-color: #000;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.AppOverlay {
  height: inherit;
  weight: inherit;
}
.AppDiv {
    height: inherit;
    width: inherit;
}
.AppHome {
  background-color: #00000087;
}
#logo-popeye {
  backgrpund-color: #38262973;
}
#logo-line-0 {
  width: 17px;
  height: 26px;
  background-color: #92112687;
}
#logo-line-1 {
  width: 26px;
  height: 256px;
  background-color: #92112687;
}
#logo-line-2 {
  width: 26px;
  height: 256px;
  background-color: #92112687;
}
#logo-line-3 {
  width: 26px;
  height: 256px;
  background-color: #92112687;
}
.BottomMenu {
  width: 80vmin;
  height: 8vmin;
  background-color: #ffffff26;
  position: fixed;
  bottom: 8vmin;
  border: 0.8vmin solid #00000087;
}
.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8vmin;
  background-color: #63728272;
  
}